<?xml version="1.0"?>
<robot name="xxx_gazebo"  xmlns:xacro="http://ros.org/wiki/xacro">
<!-- <xacro:macro name="gazebo" params=""> -->
    <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>0.4</wheel_separation>
      <wheel_diameter>0.1</wheel_diameter>

      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>

      <command_topic>cmd_vel</command_topic>
      <command_topic>odom</command_topic>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>false</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>
    </plugin>
    </gazebo>
    <!-- CHASIS -->
    <gazebo reference="base_link">
        <mu1>0</mu1>
        <mu2>0</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="front_left_pole">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="front_right_pole">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="back_left_pole">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="back_right_pole">
        <material>Gazebo/Orange</material>
    </gazebo>


    <!-- WHEEL -->
    <gazebo>
        <plugin name="gazebo-ros2-control" filename="gazebo_ros2_control">
            <robotNamespace>coconut</robotNamespace>
        </plugin>
    </gazebo>
    <gazebo reference="left_wheel">
        <mu1>100</mu1>
        <mu2>100</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="right_wheel">
        <mu1>100</mu1>
        <mu2>100</mu2>
        <material>Gazebo/Black</material>
    </gazebo>

     <!-- CASTER -->
    <gazebo reference="right_front_castor">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>  
    <gazebo reference="left_front_castor">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>  
    <gazebo reference="right_rear_castor">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>  
    <gazebo reference="left_rear_castor">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>  

     <!-- LIDAR -->
    <gazebo reference="lidar">
        <material>Gazebo/Red</material>
    </gazebo>   
    


   
     <!-- CAMERA -->
    <gazebo reference="t265">
        <material>Gazebo/Green</material>
    </gazebo>  
  





    <!-- ULTRASONIC -->
    <gazebo reference="ultrasonic1">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic2">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic3">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic4">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic5">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic6">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic7">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="ultrasonic8">
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
          <alwaysOn>true</alwaysOn>
          <bodyName>base_footprint</bodyName>
          <topicName>imu</topicName>
          <serviceName>imu_service</serviceName>
          <gaussianNoise>0.0</gaussianNoise>
          <updateRate>20.0</updateRate>
        </plugin>
    </gazebo> -->
    
   
<!-- </xacro:macro> -->
</robot>